@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@200&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-family: "Oswald", sans-serif;
}
#hero {
  overflow: hidden;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px;
  margin: 0 12px;
}
.about {
}

.list-items {
  display: flex;
  list-style-type: none;
}

.about-item {
  padding: 0 18px;
  font-weight: 600;
  letter-spacing: 0.5px;
}
.logo-item {
  width: 80px;
}
.cetory {
  display: flex;
  align-items: flex-end;
  /* flex-shrink: 1; */
}

.product {
  position: relative;
  width: 70%;
}

.infor {
  position: absolute;
  top: 40%;
  right: 0;
  width: 30%;
  padding-left: 60px;
}

.infor-contain {
  position: absolute;
  top: 50px;
  right: -100px;
}
.infor-contain h2 {
  letter-spacing: 0.5px;

  font-size: 28px;
}

.infor-contain h3 {
  letter-spacing: 0.5px;
  font-weight: 600;
  font-size: 16px;
  margin: 12px 0;
}

.infor-contain span {
  letter-spacing: 0.5px;
  font-size: 12px;
}

.infor-contain h4 {
  color: rgba(63, 62, 62, 0.8);
  font-size: 14px;
}

.infor span {
  display: block;
  font-size: 38px;
  margin-bottom: 38px;
}

.img-hero {
  position: relative;
  background-image: url("../img/img.png");
  width: 100%;
  height: 89vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* border-radius: 8px; */
}

.img-btn {
  position: absolute;
  left: 28px;
  top: 30px;
}

.btnCircle {
  font-size: 8px;
  margin-right: 8px;
}

.product-img-item {
  margin: 8px 0;
  list-style-type: none;
}
.product-img-item a {
  color: rgba(63, 62, 62, 0.8);
  font-weight: 500;
  text-decoration: none;
}

.product-item {
  /* height: 100vh; */
  width: 100%;
  border-radius: 4px;
}

.about-icon {
  font-size: 18px;
}
.form-about-item {
  display: flex;
  margin-left: -12px;
}
.form-item {
  display: flex;
  flex-direction: column;
}

.form-item h5 {
  letter-spacing: 0.5px;
  color: rgba(63, 62, 62, 0.8);
  margin-bottom: 12px;
}
.form {
  display: flex;
}
.form h5 {
  margin-bottom: 12px;
}

.item-mini {
  width: 70px;
  border-radius: 6px;
  border: 1px solid #cccc;
  margin: 0 12px;
  /* height: 20px; */
}

.item-mini:first-child {
}

.cetory-detail {
  width: 200px;
  margin-right: 5px;
}

.input-size {
  color: #000;
  letter-spacing: 1px;
  border-radius: 4px;
  width: 200px;
  padding: 3px;
}

.input-qlt {
  border-radius: 4px;
  width: 100px;
  padding: 3px;
}

.cetory-detail h5 {
  letter-spacing: 0.5px;
  color: rgba(63, 62, 62, 0.8);
  margin-top: 18px;
  margin-bottom: 12px;
}

.btn-add {
  cursor: pointer;
  font-size: 18px;
  letter-spacing: 0.5px;
  border-radius: 4px;
  width: 306px;
  color: #fff;
  background-color: #000;
  padding: 12px 38px;
  margin-top: 50px;
}
