/* Reset CSS */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.hero {
  width: 100%;
}
.container {
  width: 724px;
  display: flex;
}
.navigation {
  width: 275px;
}
.item {
  display: flex;
  align-items: center;
  margin-top: 16px;
  margin-bottom: 16px;
}

.item .item_btn {
  font-size: 16px;
  width: 36px;
  height: 36px;
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 50%;
  padding: 8px;
  /* padding: 6px; */
}

.item p:hover {
  cursor: pointer;
  color: hsl(213, 96%, 18%);
  background-color: hsl(206, 94%, 87%);
}

.item_infor {
  color: #fff;
  margin-left: 16px;
}

.item_infor h5 {
  font-weight: 200;
  margin-top: 6px;
}
.item_infor p {
  font-size: 13px;
  font-weight: 600;
}

.list_items {
  width: 275px;
  height: 100%;
  background-image: url("/javascript/form_infor/img/bg-sidebar-desktop.svg");
  background-repeat: no-repeat;
  padding-left: 16px;
  padding-top: 16px;
}

.item_infor {
}
.body {
  position: relative;
  width: 450px;
  height: 570px;
  margin-left: 40px;
}
.list_infor {
  margin-top: 36px;
}

.list_infor h3 {
  color: hsl(213, 96%, 18%);
  font-size: 30px;
}
.infor_text {
  font-size: 13px;
  color: rgb(164, 163, 163);
}
.form_infor {
}

.btn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  right: 0;
}

.btn_back {
  line-height: 16px;
  font-size: 16px;
  cursor: pointer;
  color: #ccc;
}

.btn_back:hover {
  color: rgb(134, 133, 133);
}
.item {
  display: flex;
}
.input {
  width: 450px;
  margin-top: 30px;
}

.input_form {
  color: hsl(213, 96%, 18%);
  width: 100%;
  font-weight: 600;
  padding-left: 6px;
  padding-top: 12px;
  padding-bottom: 12px;

  margin-top: 2px;
  border-radius: 4px;
  border: 2px solid;
}

.btn_sumbit {
  width: 120px;
  font-size: 16px;
  text-align: center;

  color: #fff;
  background-color: hsl(213, 96%, 18%);

  padding: 12px 14px;

  border-radius: 4px;
  border: 1px solid transparent;
}

.btn_sumbit:hover {
  cursor: pointer;
  background-color: hsl(213, 97%, 24%);
}

.input label {
  color: hsl(213, 96%, 18%);
}

.list_infor.active {
  opacity: 1;
}

.list_infor {
  display: none;
}

.list_infor.active {
  display: block;
}
.container_plan {
  position: relative;
  width: 500px;
  display: flex;
}

.convert {
  position: absolute;
  right: 30%;
  align-items: center;
  display: flex;
  margin-top: 48px;
}

.plan_box {
  width: 27.33333%;
  height: 166px;

  border: 1px solid #000;
  border-radius: 4px;

  margin-top: 32px;
  margin-left: 8px;
  margin-right: 8px;

  padding-left: 18px;
  padding-top: 8px;
}
.plan_box:first-child {
  margin-left: 0px;
}

.plan_text {
  font-size: 18px;
  margin-top: 30px;
  color: hsl(213, 96%, 18%);
}

.plan_cost {
  color: #bbb;
  font-size: 15px;
  margin-top: 2px;
}

.convert_mon {
  color: hsl(213, 96%, 18%);
  font-weight: 600;
  margin-right: 12px;
}

.convert_year {
  color: hsl(213, 96%, 18%);
  font-weight: 600;

  margin-left: 12px;
}

.pick_check input {
  transform: scale(1.5);
}

.pick_container-element {
  width: 452px;
  height: 65px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid hsl(213, 96%, 18%);
  border-radius: 6px;
  padding: 0 16px;
  margin-top: 18px;
}

.pick_container-element:first-child {
  margin-top: 30px;
}

.pick_check {
  display: flex;
}

.pick_infor-desc {
  margin-left: 18px;
}

.pick_infor-desc h5 {
  font-size: 16px;
  color: hsl(213, 96%, 18%);
  font-weight: 600;
}

.pick_infor-desc p {
  color: #bbb;
  margin-top: 4px;
  font-size: 14px;
}

.pick_infor {
  display: flex;
  justify-content: space-between;
}

.pick_infor {
  color: hsl(243, 100%, 62%);
  font-size: 13px;
}
